@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

.about-oyms {
    height: 95vh;
    padding: 0 20%;
    overflow: auto;
}

.pres-msg {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%
}

.pres-msg > * {
    margin: 2%;
}

.left-align {
    text-align: left;
}

p {
    font-size: 1.3rem;
    margin-top: 2%;
}

.msg-text {
    padding-bottom: 20px;
}

#navya-img {
    width: 40vh;
    height: auto;
}

.center-parent {
    display:flex;
    justify-content: center;
    align-items: center;
}

a.svg {
    position: relative;
    display: block;
    top: 4rem;
}

a.svg:after {
    content: ""; 
    position: absolute; 
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0;
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

#our-mission {
    color: white;
    padding: 5rem 20rem 5rem 20rem;
    background-color: var(--color2);
}

h2 {
    text-align: center;
    font-size: 2rem;
}

#our-mission p {
    text-align: center;
}

.our-team h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4rem 0 2rem;
    padding: 2rem;
    /* background-color: aqua;
    text-align: center;
    margin: 100px 0; */
}

.member-gallery {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1100px;
    margin: auto;
}

.member-gallery img {
    width: 100%;
    height: auto;
}

/* VIP section (President and Vice President) */
.member-gallery .vip-pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 5rem;
}

.member-gallery .vip-pics .vip-card {
    text-align: center;
    font-size: 1.4rem; /* general font-size */
}

.member-gallery .vip-pics .vip-card figcaption {
    margin-top: 0.6rem;
}

.member-gallery .vip-pics .vip-card span {
    font-weight: bold;
    font-size: 1.7rem; /* name font-size */
}

/* End of VIP section */


/* Other members section */
.member-gallery .member-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem 1.4rem;
}

.member-gallery .member-pics .member-card {
    text-align: center;
    font-size: 1.2rem; /* general font-size */
}

.member-gallery .member-pics .member-card figcaption {
    margin-top: 0.4rem;
}

.member-gallery .member-pics .member-card span {
    font-weight: bold;
    font-size: 1.4rem; /* name font-size */
}

/* End of other members section */


@media(max-width: 700px) {
    .member-gallery .vip-pics {
        margin: 0 2rem;
        display: block;
    }

    .member-gallery .member-pics {
        margin: 0 2rem;
        display: block;
    }

    .member-gallery .vip-pics .vip-card {
        margin-bottom: 3rem;
    }

    .member-gallery .member-pics .member-card {
        margin-bottom: 3rem;
        font-size: 1.4rem;
    }

    .member-gallery .member-pics .member-card span {
        font-weight: bold;
        font-size: 1.7rem; /* name font-size */
    }
}