@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

.about-oyms {
    height: 95vh;
    padding: 0 15%;
}

.pres-msg {
    /* background-color: tomato; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pres-msg > * {
    margin: 2%;
}

.left-align {
    text-align: left;
}

p {
    font-size: 1.3rem;
}

.msg-text {
    padding-bottom: 20px;
}

#navya-img {
    width: 23vw;
    min-width: 400px;
    height: auto;
}

#our-mission {
    color: white;
    padding: 10rem 20rem 10rem 20rem;
    background-color: var(--color2);
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#our-mission p {
    text-align: center;
}

.our-team h2 {
    margin: 7rem 0 2rem;
    padding: 2rem;
    /* background-color: aqua;
    text-align: center;
    margin: 100px 0; */
}

.member-gallery {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1100px;
    margin: auto;
}

.member-gallery img {
    width: 100%;
    height: auto;
}

/* VIP section (President and Vice President) */
.member-gallery .vip-pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 5rem;
}

.member-gallery .vip-pics .vip-card {
    text-align: center;
    font-size: 1.4rem; /* general font-size */
}

.member-gallery .vip-pics .vip-card figcaption {
    margin-top: 0.6rem;
}

.member-gallery .vip-pics .vip-card span {
    font-weight: bold;
    font-size: 1.7rem; /* name font-size */
}

/* End of VIP section */


/* Team members section */
.member-gallery .member-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem 1.4rem;
    margin-bottom: 5rem;
}

.member-gallery .member-pics .member-card {
    text-align: center;
    font-size: 1.2rem; /* general font-size */
}

.member-gallery .member-pics .member-card figcaption {
    margin-top: 0.4rem;
}

.member-gallery .member-pics .member-card span {
    font-weight: bold;
    font-size: 1.4rem; /* name font-size */
}

/* End of Team members section */


/* General members section */
.member-gallery .gen-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4rem 1.4rem;
    margin-top: 5rem;
}

.member-gallery .gen-pics .gen-card {
    /* width: 250px;
    height: 250px; */
    text-align: center;
    font-size: 1.2rem;
}

.member-gallery .gen-pics .gen-card img {
    /* width: 250px;
    height: 250px; */
    object-fit:cover;
}

.member-gallery .gen-pics .gen-card figcaption {
    margin-top: 0.4rem;
}

.member-gallery .gen-pics .gen-card span {
    font-weight: bold;
    font-size: 1.3rem;
}


@media(max-width: 1840px) {
    .pres-msg {
        flex-direction: column;
    }
}

@media(max-width: 1000px) {
    .member-gallery .vip-pics, .member-gallery .member-pics, .member-gallery .gen-pics {
        margin: 0 2rem;
        display: block;
    }

    .member-gallery .vip-pics .vip-card {
        margin-bottom: 3rem;
    }

    .member-gallery .member-pics .member-card, .member-gallery .gen-pics .gen-card {
        margin-bottom: 3rem;
        font-size: 1.4rem;
    }

    .member-gallery .member-pics .member-card span, .member-gallery .gen-pics .gen-card span {
        font-weight: bold;
        font-size: 1.7rem; /* name font-size */
    }
}