@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

.about-oyms {
    height: 90vh;
    padding: 0 10% 0 10%;
}

.pres-msg {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%
}

.pres-msg > * {
    margin: 2%;
}

.left-align {
    text-align: left;
}

p {
    font-size: 1.3rem;
    margin-top: 2%;
}

.msg-text {
    padding-bottom: 20px;
}

#navya-img {
    width: 40vh;
    height: auto;
}

.center-parent {
    display:flex;
    justify-content: center;
    align-items: center;
}

a.svg {
    margin-top: 50px;
    position: relative;
    display: inline-block;
}

a.svg:after {
    content: ""; 
    position: absolute; 
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0;
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

#our-mission {
    color: white;
    padding: 100px 400px 100px 400px;
    background-color: var(--color2);
}

h2 {
    text-align: center;
    font-size: 2rem;
}

#our-mission p {
    text-align: center;
}

.member-gallery {
    margin-top: 100px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.member-pic {
    margin: 25px;
}

.thumbnail {
    width:300px;
    height:auto;
}