
.rectangle {
    height: 8px;
    width: 100px;
    background-color:var(--color1);
    margin: 0 auto;
  }


.form-container {
    display: block;
    margin: 100px auto;
    width: 50%;
}

.input-container {
    display: flex;
    padding: 50px;
    background-color: #02BABC;
    text-align: center;
    border-radius: 8px;
}

.header-message {
    border-bottom: 3px solid var(--color1);
}

.partnership-logo-container {
    color: black;
    padding: 50px;
    background-color: white;
    height: 50vh;
    padding-top: 60px;
    padding-left: 500px;
    padding-right: 500px;
}

#logo3{
    float: left;
}

#logo4{
    float: right;
}


.headersection{
    font-size: 14px;
    text-transform: uppercase;
}

.column {
    margin: rem;
    width: 100%;
}

.inputs {
    width: 100%;
    display: inline-block;
    margin: 8px 0;
    padding: 20px 100px 20px 25px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    font-size: 15px;
    border: none;
}

.inputsMessage {
    width: 100%;
    height: 100%;
    padding: 20px 100px 100px 25px;
    font-family: 'Poppins';
    font-weight: bold;
    border:none;
    font-size: 15px;
    border-radius: 5px;
    margin: 8px 0;
}

.inputsBtn {
    padding: 1.5rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--color1);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 8px 0;
    font-family: 'Poppins';
    

}

.inputsBtn:hover{
    color: white;
    background-color: #02BABC;
}

