@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --color1: #F37E4B;
    --color2: #02BABC;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
}

.nav-container{
    background-color: white;
    box-shadow: 0px 8px 24px rgba(0,0,0,0.1);
    height: 72px;
}

.wrapper {
    max-width: 1200px;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;

}

nav ul {
    display: flex;
}

nav .logo {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 10px;
}

.nav-items li{
    list-style: none;
    margin-right: 100px;

}

.nav-items li:nth-last-of-type(1){
    margin: 0;
}

.nav-items li a{
    color: black;
    font-size: 24;
}





.our-mission {
    color: white;
    padding: 50px;
    background-color: var(--color2);
}

#navya-img {
    width: 400px;
    height: auto;
}


.nav-items li {
    list-style: none;
    margin-right:100px;
}

