:root {
    --color1: #F37E4B;
    --color2: #02BABC;
}

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/poppins/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/poppins/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/poppins/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/poppins/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-italic - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/poppins/poppins-v15-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/poppins/poppins-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/poppins/poppins-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/poppins/poppins-v15-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/poppins/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/poppins/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/poppins/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/poppins/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700italic - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/poppins/poppins-v15-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/poppins/poppins-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/poppins/poppins-v15-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/poppins/poppins-v15-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-900 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/poppins/poppins-v15-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/poppins/poppins-v15-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/poppins/poppins-v15-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-900.woff') format('woff'), /* Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/poppins/poppins-v15-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-900italic - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;
    src: url('fonts/poppins/poppins-v15-latin-900italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/poppins/poppins-v15-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/poppins/poppins-v15-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-900italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/poppins/poppins-v15-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/poppins/poppins-v15-latin-900italic.svg#Poppins') format('svg'); /* Legacy iOS */
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: var(--color1);
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition-property: background-color, var(--color1);
    text-decoration: none;
    border-radius: 4px;
}

.cta1 {
    width: 300px;
    height: 50px;
    border: none;
    color: #02BABC;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.3s;
    font-size: 2rem;
    font-size: 1.5rem;
    outline: none;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 10px;
}

.cta1:hover {
    box-shadow: inset 300px 0 0 0 #F37E4B;
    color: white;
}


.cta:hover{
    color: white;
    background-color: var(--color2);
}


#header .wrapper {
    width: 1200px;
    margin: 0;
}

#header .nav-container{
    background-color: white;
    height: 90px;
}


#header nav {
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    width: 95vw;
}

#header nav ul {
    display: flex;
}

#header nav ul li{
    list-style: none;
    margin-right: 50px;
}

#header nav ul li a{
    color: #000;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    letter-spacing: 0.10em;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

#header nav ul li a:hover {
    color:var(--color2);
}

#header nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--color1);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

#header nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#header nav ul li:nth-last-of-type(1){
    margin: 0;
}

#header nav .logo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 10px;
}




/* Hero Section */
#hero .hero-container {
    background-color: white;
    background-size: contain;
    height: calc(91vh);
    display: flex;
    align-items: center;

}
#hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    justify-content: flex-start;
}

#hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero h2 {
    display: block;
    width: fit-content;
    position: relative;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 4rem;
    line-height: 75px;
}

#hero p{
    font-size: 18px;
    line-height: 42px;
    color: darkgrey;
    width: 800px;
}
/* End of Hero Section*/



/*Whats Happening section*/

#WhatsHappening .WhatsHappening-container{
    color: black;
    padding: 50px;
    background-color: #2FBEBE;
    height: 100vh;   /*make height bigger*/
}

#WhatsHappening #WhatsHappening{
    max-width: 1200px;
    margin: 0 auto;
}

#WhatsHappening .WH-items{
    width: 100%;
    display: flex;
}

#WhatsHappening .WH-item{
    width: 100%;
    text-align: center;
    border-radius: 20px;
    padding: 40px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 16px -8px rgba(0,0,0,0.4);
    background-color: #F5CB8C;
}

#WhatsHappening .WH-item-p{
    margin: 15px;
}

/*Whats Happening section end*/



/* Who are we section */
#WhoAreWe .Who-Are-We-container{
    color: black;
    background-color: white;
    height: 140vh;
    padding-top: 80px;
}

#WhoAreWe .Who-Are-We-item{
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: large;
    margin: 5px;
}

#WhoAreWe .Who-Are-We{
    color: black;
    padding: 50px; 
    background-color: white;
    height: 90vh;
}


/* Who are we section end */


/* Exclusive opportunities*/
#ExclusiveOpportunities .ExclusiveOpportunities-container {
    color: white;
    padding: 100px;
    background-color: #02BABC;
    text-align: center;
}

#ExclusiveOpportunities .ExclusiveOpportunities-container h1 {
    font-size: 35px;
    margin-bottom: 25px;
}

#ExclusiveOpportunities .ExclusiveOpportunities-container p {
    padding: 15px;
}

#ExclusiveOpportunities .newsletter {
    display: flex;
    justify-content: center;
}

#ExclusiveOpportunities .newsletter > * {
    margin: 5px;
}

#ExclusiveOpportunities .newsletter input{
    width: 100%;
    max-width: 550px;
    padding: 20px 100px 20px 25px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

#ExclusiveOpportunities .newsletter button{
    padding:15px;
    background: var(--color1);
    border-radius: 5px;
    font-size:16px;
    cursor: pointer;
    color:white;
    border: none;
    font-weight: bold;
}

#ExclusiveOpportunities .newsletter button:hover{
    color: var(--color2);
    background-color: white;
}

/* Exclusive opportunities End*/

/*Our Partners Section */
#OurPartners .OurPartners-container{
    color: black;
    padding: 50px;
    background-color: white;
    height: 50vh;
    padding-top: 60px;
    padding-left: 500px;
    padding-right: 500px;
}



#logo1{
    float: left;
}
#logo2{
    float: right;
}


/*Our Partners Section end*/


#navya-img {
    width: 400px;
    height: auto;
}

.nav-items li {
    list-style: none;
    margin-right:100px;
}



.page-title {
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

h1 {
    font-weight: 700;
    text-align: center;
}

h4{
    text-align: center;
}

h3{
    text-align: center;
}

h6 {
    font-weight: 700;
    text-align: center;
    font-size: 42px;
    padding-bottom: 35px;
    padding-top: 30px;
    color: black;
}

h5 {
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    font-size: xx-large;
    color: black;
}

h7 {
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    font-size: x-large;
    color: black;
}

p {
    font-weight: 300;
    padding-bottom: 9px;
    padding-top: 9px;
}




.logo{
    cursor:pointer;
    margin-right: auto;
     
}



.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:60%
  }

/* splash screen */

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color1);
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;

}

.logoIntro{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;

}

.logoIntro.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logoIntro.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;

}