@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --color1: #F37E4B;
    --color2: #02BABC;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.nav-container{
    background-color: white;
    box-shadow: 0px 8px 24px rgba(0,0,0,0.1);
    height: 72px;
}

.wrapper {
    max-width: 1200px;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pres-msg {
    display:flex;
    height: 72px;
}

nav ul {
    display: flex;
}

nav .logo {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 10px;
}

.nav-items li{
    list-style: none;
    margin-right: 100px;

}

.nav-items li:nth-last-of-type(1){
    margin: 0;
}

.nav-items li a{
    color: black;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}


.our-mission {
    color: white;
    padding: 50px;
    background-color: var(--color2);
}

#navya-img {
    width: 400px;
    height: auto;
}


.nav-items li {
    list-style: none;
    margin-right:100px;
}
footer {
    position: absolute;
    bottom:0;
    width:100%;
    height: 20;
    display: block;
    background-color:var(--color1);
    font-family: Poppins;
    color: white;
    font-size: 16px;

  }

h1 {
    text-align:center
}

.event-container{
    font-family: "Roboto", sans-serif;
    max-width:800px;
    margin: 0 auto;

}

.member-gallery {
    margin-top: 100px;
    padding: 0px, 0px, 200px, 200px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.member-pic {
    margin: 50px;
}

.thumbnail {
    width:500px;
    height:auto;
}
.event-container h3.year{
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
}

.event-container .event{
    box-shadow: 0 4px 16px -8px rgba(0,0,0,0.4);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
}
